.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.searchBox, .uploadButton {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  width: 300px;
  padding-left: 4px;
}

.uploadButton {
  background-color: #ddd;
  border: 1px solid #333;
  width: 100px;
}

@media only screen and (max-width: 480px) {

  .controls {
    flex-direction: column;
    margin-bottom: 12px;
  }

  .uploadButton {
    margin-bottom: 10px;
    order: -1;
    width: initial;
  }

  .searchBox {
    width: initial;
  }
}
