.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 10px;
  min-width: 320px;
  max-width: 960px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.searchBox, .uploadButton {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  width: 300px;
  padding-left: 4px;
}

.uploadButton {
  border: 1px solid #333;
  width: 100px;
}

.files {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.file {
  flex: 1 0 300px;
  /* width: 300px; */
  border: 1px solid #333;
}

@media only screen and (max-width: 480px) {

  .container {
    flex-direction: column;
  }

  .controls {
    flex-direction: column;
  }

  .uploadButton {
    margin-bottom: 10px;
    order: -1;
    width: initial;
  }

  .searchBox {
    width: initial;
  }
}
