.file {
  display: flex;
  border: .5px solid #333;
  height: 100px;
  margin: 0 10px 10px;
  flex: 1 0 306.66px;
  max-width: 305px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  word-break: break-all;
}

.fileInfo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-evenly;
}

.deleteButton > button {
  background-color: #ddd;
  border: 1px solid #000;
  width: 70px;
  margin-left: 10px;
}

@media only screen and (max-width: 480px) {

  .file {
    height: 80px;
    max-width: inherit;
    margin-bottom: 8px;
  }
}
